#metadata
*__pycache__*
*Zone.Identifier
.ipynb_checkpoints

#ignore text files
*.txt
#but not the requirements
!requirements.txt
!requirements_prod.txt

#data folder
data
data/*
!data/geo
data/geo/*
!data/geo/uk_dno_regions_2024_lonlat.geojson
api/agent/images/*



#env
.env
