#metadata
*/__pycache__/*
*Zone.Identifier
.ipynb_checkpoints

#ignore text files
*.txt
#but not the requirements
!requirements.txt
!requirements_prod.txt

#data folder
data/output
data/geo/*.png
data/*.json
data/geo/*.geojson
*.csv

#will remove on another branch
notebooks/
